<!-- <h3 class="mt-5 mb-3">Product List</h3> -->
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div *ngFor="let product of products | async" class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{product.name}}</text></svg>
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <div class="d-flex justify-content-between align-items-center float-end">
              <div class="btn-group float-end">
                <button type="button" class="btn btn-sm btn-outline-secondary"><span class="bi bi-bag-plus-fill -2"> Add to cart</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul *ngIf="products; else noproducts"></ul>

<ng-template #noproducts>
  <p>No products available.</p>
</ng-template>
